* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: gray;
}

input {
    width: 38px;
    text-align: center;
    margin-right: 5px;
}

input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}



.container {
    width: 100%;
    margin-top: 13%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /*background-color: dimgrey;*/
}
.semiContainer {
    border: 1px solid #fff;
    width: 80vw;
    height: 45vh;
    padding: 10px;
    margin-bottom: 10px;
    background-color: #759254;
}

.dados {
    margin: 30px 10px;
    padding: 10px; 
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #fff;
    height: 80%;
    width: 80vw;
    background-color: rgb(58, 197, 40);
    
}



.retorno-pecas, .retorno-lambri, .retorno-gasto, .retorno-gasto-final {    
    display: flex;
    align-items: center;
    justify-content: center;
    
}

#altura, #largura {
    width: 60px;
    margin-right: 10px;
}

#btn-result, #btn-clear {
    /*font-size: 12px;*/
    height: 60px;
    width: 60px;
    margin: 0px 10px 0px 20px;
    padding: auto;
    cursor: pointer;
    border-radius: 33px;
    /*background-color: #17776f;*/
    /*color: white;*/
    border: none;
    
}

#btn-result:hover, #btn-clear:hover {
    opacity: .8;
    border: 2px solid #0c0c0efd;
    transition: ease-out 2s;
}

#marca-registrada {
    display: flex;
    justify-content: flex-end;
    margin-top: 60px;
    margin-right: 15px;
    color: white
}

.marca-registrada{
  display: flex;
}


@media screen and (max-width: 500px){
    .semiContainer {
        border: 1px solid #fff;
        width: 98vw;
        height: 300px;
        padding: 5px;
        margin-bottom: 10px;
        background-color: #759254;
    }

    #result, #clear {
        height: 40px;
        width: 40px;
        margin: 0px 10px 0px 10px;
        padding: auto;
        cursor: pointer;
        border-radius: 33px;
        background-color: #17776f;
        color: white;
        border: none;
        
    }

    .dados {
        margin: 30px 10px;
        padding: 10px; 
        display: flex;
        align-items: center;
        justify-content: center;
        border: 1px solid #fff;
        height: 10vh;
        width: 98vw;
        background-color: rgb(58, 197, 40);
        
    }

    h1{
        font-size: 20px;
        width: 300px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    #qtdPecas, #totPecas {
        width: 25px;
    }

    #qtdPerfilado {
        width: 15px;
    }


    
}